
Source/jewelry/.vs/jewelry/v15/.suo
Source/jewelry/.vs/jewelry/v15/Server/sqlite3/db.lock
Source/jewelry/.vs/jewelry/v15/Server/sqlite3/storage.ide
Source/jewelry/.vs/jewelry/v15/Server/sqlite3/storage.ide-shm
Source/jewelry/.vs/jewelry/v15/Server/sqlite3/storage.ide-wal
Source/jewelry/jewelry.sln
Source/jewelry/jewelry/jewelry.csproj
Source/jewelry/jewelry/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/jewelry/jewelry/obj/Debug/jewelry.csproj.CoreCompileInputs.cache
Source/jewelry/jewelry/obj/Debug/jewelry.csproj.FileListAbsolute.txt
Source/jewelry/jewelry/obj/Debug/jewelry.csprojAssemblyReference.cache
Source/jewelry/jewelry/obj/Debug/jewelry.dll
Source/jewelry/jewelry/Properties/AssemblyInfo.cs
Source/jewelry/jewelry/ThoughWorker_WearingApparel.cs
error.txt
*.txt
